.skill {
  background-color: var(--bg-grey);
}
.skill .progress-info {
  margin-bottom: 25px;
  text-align: left;
}

.skill .progress-info:last-child {
  margin-bottom: 0px;
}

.skill .progress-bar {
  background-color: var(--primary-color);
  transition: width 0.6s ease;
}

.skill .progress {
  display: flex;
  height: 0.5em;
  overflow: hidden;
  font-size: 0.75em;
  background-color: var(--font-color);
  border-radius: 0.25em;
}

.skill .progress-bar-striped {
  background-image: none;
  background-size: 1em 1em;
}

.skill-imags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
}

.skill h6.progress-tittle {
  font-size: 18px;
  color: var(--heading-color);
  margin-bottom: 10px;
  font-weight: 700;
}
/* team start  */
/*-- team --*/
.grid-alignment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: end;
}

.r-team-main .team {
  position: relative;
}

.r-team-main .our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.r-team-main .our-team .team-wrap {
  padding: 0 40px;
}

.r-team-main .team-img img {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
}
.r-team-main .team-member,
.r-team-main .team-img {
  position: relative;
  overflow: hidden;
}

.r-team-main .team-title {
  margin: 25px 0 0px;
  font-size: 24px;
  color: var(--heading-color);
  font-weight: 700;
  display: block;
}

.r-team-main .team-member p {
  text-transform: capitalize;
}

.r-team-main .team-details {
  opacity: 0;
  position: absolute;
  bottom: 12%;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}

.r-team-main .team-img:hover .team-details {
  opacity: 1;
}

.r-team-main .team-img:hover .overlay-team {
  opacity: 1;
}

.r-team-main .team-member:hover a {
  color: var(--primary-color);
}

.r-team-main .socials a {
  display: inline-block;
  margin-right: 5px;
}

.r-team-main .socials a span {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  transition: all 0.3s ease 0s;
  background: rgba(157, 157, 157, 0.5);
}

.r-team-main .team-details .socials span {
  color: #fff;
}

.r-team-main .socials a:hover span {
  background: #fff;
  color: var(--primary-color);
}
/* team end  */
