@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Quicksand", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--heading-color);
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}
:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #161c2db3;
  --font2-color: #c2d0da;
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}

.header-banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
/* header__left-logo */
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
.header .header__right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.header .header__right-content .search-bar {
  display: flex;
}
.header .header__right-content .search-bar {
  display: flex;
}
.header .header__right-content .search-bar .search-header {
  position: relative;
}
.header__left-logo h1 .logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.search-bar {
  display: flex;
}
.search-header {
  position: relative;
}
.search-bar .search__icon:active {
  color: #fff;
}
.search-bar .search__input {
  display: flex;
  position: relative;
  padding: 10px 50px 10px 20px;
  flex: 1;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  right: 0;
  outline: 0;
  border-radius: var(--border-radius);
  background: #fff;
  border: 1px solid #fff;
}
.search-bar .search__input.active {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
.header .header__right-content .mobile__button .button-bars {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  font-size: 1.95em;
  padding: 0 8px;
  color: #fbfdfb;
}
.header__right-content .search-bar .search-header .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}
.header__right-content .search-bar .search-header .search__icon::before.active {
  content: "\f002";
  cursor: pointer;
  color: #fff;
}
.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}

.fa-frown-o:before {
  content: "\f119";
}
.title-h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}
.themeSwith {
  position: relative;
  width: 40px;
  height: 40px;
  color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.themeSwith::before {
  content: "\f186";
  font-family: FontAwesome;
  font-size: 20px;
}
.themeSwith.active::before {
  content: "\f185";
}
/* banner  */
.banner__info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.banner__info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.banner__info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.banner__info .btn-white {
  outline: none;
  background: transparent;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;

  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 2px solid #fff;
  color: #fff;
}
.banner__info .btn-white:hover {
  background: #fff;
  color: #ff6600;
}
/* show menu  */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
}
.overlay-scale {
  visibility: hidden;
  opacity: 0;
}
.overlay-scale.overlay-open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
}
/* @media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
} */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay ul li {
  display: block;
  backface-visibility: hidden;
  line-height: 3em;
}
.overlay ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  transition: color 0.2s;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: var(--primary-color);
}
/* banner end  */

/* @media  */
/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* banner end  */
/* about us start  */

.title-h6.two {
  color: #fff;
}
.title-h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.content-1-right p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
}
.content-1-right.active p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
/* about us end  */
/* block start  */
.block {
  background: var(--primary-color);
}
.block p {
  color: #ffdfc9;
}
.agent-block-image {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}
.agent-block-image::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  background: rgb(16 15 19 / 46%);
  z-index: -1;
}
.subscribe-food {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}
.subscribe-food .icon {
  background: #fff;
}
.icon {
  width: 70px;
  height: 70px;
  line-height: 70px;

  text-align: center;
  background: var(--bg-light);
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}
.icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
.subscribe-food .subscribe-food-link {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}
.subscribe-food .subscribe-food-link.active {
  color: #fff;
}
.subscribe-food-gd:hover .icon span.fa {
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}
/* subscribe end  */
.categories {
  background: var(--bg-grey);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.categories .gal-slide-img {
  position: relative;
}
.categories .gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
}
.categories .gal-slide-grid .gal-slide-img:after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
}
.categories .gal-slide-img:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}
.categories .content-left-sec a h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}
.categories img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}
.categories .gal-slide-info h4 {
  font-size: 18px;
  color: #fff;
}
.categories .content-left-sec h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  opacity: 0.9;
  color: #fff;
}
.categories .gal-slide-info span {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--secondary-color);
}
.categories .gal-slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 0;

  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
  color: #fff;
}
.categories .gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
  z-index: 100;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
}

/* block end  */
/* features start  */
.home-services {
  position: relative;
}
.box-wrap {
  padding: 40px 40px;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);

  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
  transition: all 0.5s ease 0s;
}
.box-wrap:hover .icon {
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
}
.box-wrap:hover .icon span.fa {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.box-wrap h4 a:hover {
  color: var(--primary-color);
}
.box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.icon {
  width: 70px;
  height: 70px;
  line-height: 70px;

  text-align: center;
  background: var(--bg-light);
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}
.icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
.box-wrap p {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;

  font-family: "Quicksand", sans-serif;
  color: var(--font-color);
}
.box-wrap h4 a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;

  color: var(--heading-color);
}

/* features end  */
/* delicious start  */
.delicious {
  background: url(../images/banner2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.delicious:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;

  background: rgb(16 15 19 / 66%);
  z-index: -1;
}
.welcome-left {
  max-width: 700px;
  margin: 0 auto;
}
.welcome-left h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  max-width: 800px;
  color: #fff;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #212529;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: var(--primary-color);
}
.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  opacity: 0.8;
}
.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  /* border: 2px solid transparent; */
}
body a,
button,
.btn {
  cursor: pointer !important;
}

/* delicious end  */
/* stats start  */
section.stats {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}
.counter {
  background-color: var(--bg-color);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: 0.3s ease;
}
.counter:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transition: 0.3s ease;
}
.counter span.fa {
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;

  text-align: center;
  background: var(--primary-color);
  color: #fff;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-smile-o:before {
  content: "\f118";
}
.timer {
  font-size: 2.6em;
  font-weight: 600;
  color: var(--heading-color);
}
.stats p {
  font-size: 1.1em;
}
p.count-text {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 600;
}
/* stats end  */
/* video start  */
.new-block {
  background: var(--bg-color);
}
.video-restaurant .history-info {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}
.video-restaurant .history-info:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}
.video-restaurant .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.video-restaurant span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
.mfp-hide {
  display: none !important;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
iframe {
  border: none;
  display: block;
}
/* video end  */
/* blog start  */
.blogs {
  background: var(--bg-grey);
}
.fa-clock-o:before {
  content: "\f017";
}
.blogs .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.blogs .card-header {
  border: none;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.radius-image {
  border-radius: var(--border-radius);
}
.blogs .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.blogs a.receipe {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}
.blogs .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.blogs a.read:hover {
  color: var(--primary-color);
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.blogs a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
.blogs .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.blogs .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}
.blogs .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
}
.blogs a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.blogs .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
}
.blogs a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}
.blogs .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* blog end  */
/* testimonial start  */
.testimonials .testimonial-content {
  max-width: 700px;
  margin: auto;
}
.testimonials-client a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.testimonials-client .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.img-responsive {
  max-width: 100%;
  display: block;
}
img {
  vertical-align: middle;
  border-style: none;
}
blockquote {
  margin: 0 0 1rem;
}
blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.testimonials-client blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}
blockquote,
q {
  quotes: initial;
}
blockquote q {
  font-style: italic;
  letter-spacing: 1px;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
.testimonials-client blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}
.testimonials-client .testimonial-item .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
/* carousel start  */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 10px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 10px)
  );
  display: inline-block;
  border-radius: 50%;
}
/* .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -10px;
  left: 0px;
  width: 100%;
} */
:root {
  --swiper-theme-color: #ff6600;
}
/* carousel end  */

/* footer start  */
.footer {
  background: var(--footer-bg);
}
.footer h2 {
  font-size: 2rem;
}
.footer a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.footer p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.main-social-footer-29 a {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.main-social-footer-29 a:hover {
  background: var(--primary-color);
  transition: 0.3s;
  color: #fff;
}
.footer h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.footer .footer-list-29 ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .footer-list-29 ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}
/* footer end  */

/* about start  */
.feature-with-photo-1 .ab-in-flow {
  align-items: center;
}
.feature-with-photo-1 .grid-columns-3 {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  display: grid;
}
.feature-with-photo-1 .feature-with-photo-a h4 a {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.feature-with-photo-1 .feature-with-photo-a h4 a:hover {
  color: var(--secondary-color);
}
/* skill  */
.skill {
  background-color: var(--bg-grey);
}

/* about end  */
.feature-with-photo-1 h4 {
  font-size: 1.5rem;
}

/* breadcrum start  */
.breadcrumb {
  justify-content: center;
}
.r-innerpage {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgb(236 98 6 / 98%),
      rgb(5 3 0 / 83%)
    ),
    url(../images/banner2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 350px;
}

.r-innerpage .breadcrumb a:hover {
  color: var(--primary-color);
}

.r-innerpage ol.breadcrumb {
  padding-top: 81px;
}
.r-innerpage .breadcrumb li.active {
  color: #fff;
}
.r-innerpage .breadcrumb li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
/* breadcrum end  */
/* @media  */
/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
